<!DOCTYPE html>
<html lang="en">
<% include ../partials/head %>

<body>
    <h1>Project Puff</h1>

    <a href="/strains">Strains</a>
    <a href="/my_strains">My Strains</a>
    <a href="/logout">Log Out</a>

    <div>
        <img src="<%= results.strain_image %>">
        <p><%= results.strain_name %></p>
        <p><%= results.strain_fact %></p>
        <p><%= results.strain_type %></p>
        <p><%= results.strain_taste %></p>
    </div>

    <form action="/my_strains/<%= results.id %>" method="POST">
        <button>Add to My Trees</button>
    </form>

    <% include ../partials/script %>
</body>

</html>